{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="{% static 'output.css' %}">

    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      /* Additional CSS styles that are not covered by Tailwind classes */

      /* Keyframe animations */
      @keyframes fadeInUp {
        0% {
          opacity: 0;
          transform: translateX(50px);
        }

        100% {
          opacity: 1;
          transform: translateX(0px);
        }
      }

      @keyframes fadeInRight {
        0% {
          opacity: 0;
          transform: translateX(-50px);
        }

        100% {
          opacity: 1;
          transform: translateX(0px);
        }
      }
    </style>
  </head>

  <body
    class="inset-0 bg-cover bg-center"
    style="
      background-image: url('/assets/background-abstract-line-digital-design-gradient-template_483537-2161.avif');
    "
  >
    <div
      class="container-fluid bg-gray-100 w-full md:flex hidden py-5 px-5 justify-end"
    >
      <div class="row">
        <div
          class="col-lg-9 col-12 customPosition d-lg-flex justify-content-lg-end align-items-center"
        >
          <div class="mainMenuWrapper d-lg-flex align-items-lg-center">
            <!-- Nav -->
            <ul class="navListing newListing">
              <li class="navItem">
                <a
                  href="/index.html"
                  data-toggle="collapse"
                  data-target=".whatWeDo"
                  aria-expanded="false"
                  >Home &#9660; <i class="fas fa-caret-down"></i
                ></a>
                <div
                  class="navSubmenu midiumMegaMunu whatWeDo collapeseShow collapse text-left"
                  data-parent=".mainMenuWrapper"
                >
                  <div class="containerBlock">
                    <ul class="thirdLevelMenu">
                      <li class="active">
                        <ul class="fourthLevelMenu">
                          <li><a href="#"> Web Development </a></li>
                          <li class="active deActiveColor">
                            <a href="#">App Development</a>
                            <ul class="fifthLevelMenu collapse pl-2 pl-lg-0">
                              <li>
                                <div class="row justify-content-xl-between">
                                  <div class="col-lg-5 col-xl-6">
                                    <div class="cardBlock pr-xl-2"></div>
                                  </div>
                                  <div class="col-lg-5 col-xl-6">
                                    <div class="cardBlock pl-xl-2">
                                      <p class="mb-1">News</p>
                                      <div class="imgThumbCol">
                                        <a href="#"
                                          ><picture
                                            ><img
                                              src="#"
                                              class=""
                                              alt="" /></picture
                                        ></a>
                                      </div>
                                      <div class="mb-2 mb-lg-0 bottomTextLink">
                                        <a href="#"
                                          >XYZ strengthen its services portfolio
                                          with the addition of Automotive
                                          Engineering and Manufacturing Services
                                          for global markets</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <li><a href="#">SEO </a></li>
                          <li><a href="#">Digital Marketing</a></li>
                          <li><a href="#">IT Support </a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="#" class="stong_protext"
                          >Manufacturing
                          <img class="ml-2 show-right-menu" src="#"
                        /></a>
                        <ul class="fourthLevelMenu">
                          <li class="active deActiveColor">
                            <a href="#">PCB Assembly</a>
                            <ul
                              class="fifthLevelMenu fiftheLevelHide pl-2 pl-lg-0"
                            >
                              <li>
                                <div class="row justify-content-xl-between">
                                  <div class="col-lg-5 col-xl-6">
                                    <div class="cardBlock pr-xl-2">
                                      <p class="mb-1">News</p>
                                      <div class="imgThumbCol">
                                        <a href="#"
                                          ><picture
                                            ><img
                                              src="#"
                                              class=""
                                              alt="" /></picture
                                        ></a>
                                      </div>
                                      <div class="mb-3 mb-lg-0 bottomTextLink">
                                        <a href="#"
                                          >XYZ Strikes Back-to-Back
                                          Manufacturing Expansions to Meet
                                          Increased Global Business</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-5 col-xl-6">
                                    <div class="cardBlock pl-xl-2">
                                      <p class="mb-1">News</p>
                                      <div class="imgThumbCol">
                                        <a href="#"
                                          ><picture
                                            ><img
                                              src="#"
                                              class=""
                                              alt="" /></picture
                                        ></a>
                                      </div>
                                      <div class="mb-2 mb-lg-0 bottomTextLink">
                                        <a href="#"
                                          >XYZ Inks Contract with C-DAC to
                                          Manufacture India’s first indigenously
                                          designed HPC server</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <li><a href="#">Product Assembly</a></li>
                          <li>
                            <a href="#"
                              >Proto, Mold Making, Mechanical Manufacturing
                              Facility</a
                            >
                          </li>
                          <li>
                            <a href="#"
                              >Testing, Validation &amp; Certification</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a class="stong_protext"
                          >Cloud and Applications
                          <img class="ml-2 show-right-menu" src="#"
                        /></a>
                        <ul class="LicenseSales fourthLevelMenu">
                          <li class="active deActiveColor">
                            <ul
                              class="fifthLevelMenu fiftheLevelHide pl-2 pl-lg-0"
                            >
                              <li>
                                <div class="row justify-content-xl-between">
                                  <div class="col-lg-5 col-xl-6">
                                    <div class="cardBlock pr-xl-2">
                                      <p class="mb-1">Blog</p>
                                      <div class="imgThumbCol">
                                        <a href="#"
                                          ><picture
                                            ><img
                                              src="#"
                                              class=""
                                              alt="" /></picture
                                        ></a>
                                      </div>
                                      <div class="mb-3 mb-lg-0 bottomTextLink">
                                        <a href="#"
                                          >Why is Data Lake the next big thing
                                          in Data management and
                                          optimization?</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-5 col-xl-6">
                                    <div class="cardBlock pl-xl-2">
                                      <p class="mb-1">Case Study</p>
                                      <div class="imgThumbCol">
                                        <a href="#"
                                          ><picture
                                            ><img
                                              src="#"
                                              class=""
                                              alt="" /></picture
                                        ></a>
                                      </div>
                                      <div class="mb-2 mb-lg-0 bottomTextLink">
                                        <a href="#"
                                          >IoT Cloud Platform on Microsoft
                                          Azure</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <li class="active deActiveColor">
                            <a href="#">Cloud Engineering Services</a>
                          </li>
                          <li><a href="#">Application Services</a></li>
                        </ul>
                      </li>
                      <li>
                        <a target="_blank" href="#" class="stong_protext"
                          >License Sales
                          <img class="ml-2 show-right-menu" src="#"
                        /></a>
                        <ul class="LicenseSales fourthLevelMenu license_div">
                          <li class="active deActiveColor">
                            <a target="_blank" href="#">Ametek</a>
                            <ul
                              class="fifthLevelMenu fiftheLevelHide pl-2 pl-lg-0"
                            >
                              <li>
                                <div class="row justify-content-xl-between">
                                  <div class="col-lg-5 col-xl-6">
                                    <div class="cardBlock pr-xl-2">
                                      <ul>
                                        <li>
                                          <a target="_blank" href="#">Megger</a>
                                        </li>
                                        <li>
                                          <a target="_blank" href="#"
                                            >National Instruments (NI)</a
                                          >
                                        </li>
                                        <li>
                                          <a target="_blank" href="#">PICO</a>
                                        </li>
                                        <li>
                                          <a target="_blank" href="#"
                                            >QA Systems</a
                                          >
                                        </li>
                                        <li>
                                          <a target="_blank" href="#"
                                            >esd electronics</a
                                          >
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="col-lg-5 col-xl-6">
                                    <div class="cardBlock pr-xl-2">
                                      <ul>
                                        <li>
                                          <a target="_blank" href="#"
                                            >Rohde & Schwarz</a
                                          >
                                        </li>
                                        <li>
                                          <a target="_blank" href="#">SEGGER</a>
                                        </li>
                                        <li>
                                          <a target="_blank" href="#"
                                            >TASKING</a
                                          >
                                        </li>
                                        <li>
                                          <a target="_blank" href="#">TRM</a>
                                        </li>
                                        <li>
                                          <a target="_blank" href="#">Weller</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <li><a target="_blank" href="#">Hioki</a></li>
                          <li><a target="_blank" href="#">iSYSTEM</a></li>
                          <li><a target="_blank" href="#">Kikusui</a></li>
                          <li><a target="_blank" href="#">Igos</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="navItem">
                <a
                  href="#"
                  data-toggle="collapse"
                  data-target=".IndustriesMenu"
                  aria-expanded="false"
                  >Business Units &#9660; <i class="fas fa-caret-down"></i
                ></a>
                <div
                  class="navSubmenu IndustriesMenu collapeseShow collapse"
                  data-parent=".mainMenuWrapper"
                >
                  <ul>
                    <li><a href="#">Cloud and Applications</a></li>
                    <li><a href="#">Cloud and Applications</a></li>
                    <li><a href="#">Cloud and Applications</a></li>
                    <li><a href="#">Cloud and Applications</a></li>
                    <li><a href="#">Cloud and Applications</a></li>
                  </ul>
                </div>
              </li>
              <li class="navItem">
                <a
                  href="#"
                  data-toggle="collapse"
                  data-target=".aboutvvdnMenu"
                  aria-expanded="false"
                  >About &#9660; <i class="fas fa-caret-down"></i
                ></a>
                <div
                  class="navSubmenu aboutvvdnMenu collapeseShow collapse"
                  data-parent=".mainMenuWrapper"
                >
                  <ul>
                    <li><a href="/About.html">About</a></li>
                    <li><a href="#">Company Overview</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Case Studies</a></li>
                  </ul>
                </div>
              </li>
              <li class="navItem">
                <a href="/ContactUs.html">Contact Us</a>
              </li>
              <li class="navItem">
                <a href="/Forget.html">Forget</a>
              </li>
              <li class="navItem">
                <a href="/Login.html">Sign In</a>
              </li>
            </ul>

            <!-- /Nav -->
          </div>
        </div>
      </div>
      <div class="md:hidden flex bg-red-600">
        <a class="text-4xl text-white" href="#">&#8801;</a>
      </div>
    </div>
    <section class="py-10 inset-0 bg-cover bg-center bg-no-repeat z-10">
      <div class="heading">
        <h2 class="text-red-500 text-4xl font-semibold text-center">
          About Us
        </h2>
      </div>
      <div class="container flex justify-center items-center mx-auto mt-16">
        <div class="hero-content flex-1 w-96 mx-4 animate-fade-in-up">
          <h2 class="text-3xl mb-4 text-gray-700 font-semibold">
            Welcome to our website
          </h2>
          <p class="text-lg mb-8 text-gray-400 leading-relaxed">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius ex
            vero ducimus nihil temporibus fuga ullam? Nihil optio nostrum vero
            dolores deleniti voluptatem magnam. At quibusdam laudantium sint
            optio unde.
          </p>
          <button
            class="bg-red-500 text-white px-6 py-3 rounded-lg text-xl transition duration-300 hover:bg-red-600"
          >
            Learn More
          </button>
        </div>
        <div class="hero-images flex-1 w-96 mx-4 animate-fade-in-right">
          <img src="/assets/images/img2.jpg" class="w-full rounded-lg" />
        </div>
      </div>
    </section>

    <!-- -->

    <section class="z-0 py-10">
      <div class="heading">
        <h2 class="text-red-500 text-4xl font-semibold text-center">
          Mission Statement
        </h2>
      </div>
      <div class="container flex justify-center items-center mx-auto mt-16">
        <div class="hero-content flex-1 w-96 mx-4 animate-fade-in-up">
          <h2 class="text-3xl mb-4 text-gray-700 font-semibold">
            Welcome to our website
          </h2>
          <p class="text-lg mb-8 text-gray-400 leading-relaxed">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius ex
            vero ducimus nihil temporibus fuga ullam? Nihil optio nostrum vero
            dolores deleniti voluptatem magnam. At quibusdam laudantium sint
            optio unde.
          </p>
          <button
            class="bg-red-500 text-white px-6 py-3 rounded-lg text-xl transition duration-300 hover:bg-red-600"
          >
            Learn More
          </button>
        </div>
        <div class="hero-images flex-1 w-96 mx-4 animate-fade-in-right">
          <img src="/assets/images/img3.jpg" class="w-full rounded-lg" />
        </div>
      </div>
    </section>
  </body>
</html>
