{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}">

  </head>

  <body class="inset-0 bg-cover bg-center bg-dots">
    <div
      class="container-fluid bg-gray-100 w-full md:flex hidden py-5 px-5 justify-end"
    >
      <div class="row">
        <div
          class="col-lg-9 col-12 customPosition d-lg-flex justify-content-lg-end align-items-center"
        >
          <div class="mainMenuWrapper d-lg-flex align-items-lg-center">
            <!-- Nav -->
            <ul class="navListing newListing">
              <li class="navItem">
                <a
                  href="/index.html"
                  data-toggle="collapse"
                  data-target=".whatWeDo"
                  aria-expanded="false"
                  >Home &#9660; <i class="fas fa-caret-down"></i
                ></a>
                <div
                  class="navSubmenu midiumMegaMunu whatWeDo collapeseShow collapse text-left"
                  data-parent=".mainMenuWrapper"
                >
                  <div class="containerBlock">
                    <ul class="thirdLevelMenu">
                      <li class="active">
                        <ul class="fourthLevelMenu">
                          <li><a href="#"> Web Development </a></li>
                          <li class="active deActiveColor">
                            <a href="#">App Development</a>
                            <ul class="fifthLevelMenu collapse pl-2 pl-lg-0">
                              <li>
                                <div class="row justify-content-xl-between">
                                  <div class="col-lg-5 col-xl-6">
                                    <div class="cardBlock pr-xl-2"></div>
                                  </div>
                                  <div class="col-lg-5 col-xl-6">
                                    <div class="cardBlock pl-xl-2">
                                      <p class="mb-1">News</p>
                                      <div class="imgThumbCol">
                                        <a href="#"
                                          ><picture
                                            ><img
                                              src="#"
                                              class=""
                                              alt="" /></picture
                                        ></a>
                                      </div>
                                      <div class="mb-2 mb-lg-0 bottomTextLink">
                                        <a href="#"
                                          >XYZ strengthen its services portfolio
                                          with the addition of Automotive
                                          Engineering and Manufacturing Services
                                          for global markets</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <li><a href="#">SEO </a></li>
                          <li><a href="#">Digital Marketing</a></li>
                          <li><a href="#">IT Support </a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="#" class="stong_protext"
                          >Manufacturing
                          <img class="ml-2 show-right-menu" src="#"
                        /></a>
                        <ul class="fourthLevelMenu">
                          <li class="active deActiveColor">
                            <a href="#">PCB Assembly</a>
                            <ul
                              class="fifthLevelMenu fiftheLevelHide pl-2 pl-lg-0"
                            >
                              <li>
                                <div class="row justify-content-xl-between">
                                  <div class="col-lg-5 col-xl-6">
                                    <div class="cardBlock pr-xl-2">
                                      <p class="mb-1">News</p>
                                      <div class="imgThumbCol">
                                        <a href="#"
                                          ><picture
                                            ><img
                                              src="#"
                                              class=""
                                              alt="" /></picture
                                        ></a>
                                      </div>
                                      <div class="mb-3 mb-lg-0 bottomTextLink">
                                        <a href="#"
                                          >XYZ Strikes Back-to-Back
                                          Manufacturing Expansions to Meet
                                          Increased Global Business</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-5 col-xl-6">
                                    <div class="cardBlock pl-xl-2">
                                      <p class="mb-1">News</p>
                                      <div class="imgThumbCol">
                                        <a href="#"
                                          ><picture
                                            ><img
                                              src="#"
                                              class=""
                                              alt="" /></picture
                                        ></a>
                                      </div>
                                      <div class="mb-2 mb-lg-0 bottomTextLink">
                                        <a href="#"
                                          >XYZ Inks Contract with C-DAC to
                                          Manufacture India’s first indigenously
                                          designed HPC server</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <li><a href="#">Product Assembly</a></li>
                          <li>
                            <a href="#"
                              >Proto, Mold Making, Mechanical Manufacturing
                              Facility</a
                            >
                          </li>
                          <li>
                            <a href="#"
                              >Testing, Validation &amp; Certification</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a class="stong_protext"
                          >Cloud and Applications
                          <img class="ml-2 show-right-menu" src="#"
                        /></a>
                        <ul class="LicenseSales fourthLevelMenu">
                          <li class="active deActiveColor">
                            <ul
                              class="fifthLevelMenu fiftheLevelHide pl-2 pl-lg-0"
                            >
                              <li>
                                <div class="row justify-content-xl-between">
                                  <div class="col-lg-5 col-xl-6">
                                    <div class="cardBlock pr-xl-2">
                                      <p class="mb-1">Blog</p>
                                      <div class="imgThumbCol">
                                        <a href="#"
                                          ><picture
                                            ><img
                                              src="#"
                                              class=""
                                              alt="" /></picture
                                        ></a>
                                      </div>
                                      <div class="mb-3 mb-lg-0 bottomTextLink">
                                        <a href="#"
                                          >Why is Data Lake the next big thing
                                          in Data management and
                                          optimization?</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-5 col-xl-6">
                                    <div class="cardBlock pl-xl-2">
                                      <p class="mb-1">Case Study</p>
                                      <div class="imgThumbCol">
                                        <a href="#"
                                          ><picture
                                            ><img
                                              src="#"
                                              class=""
                                              alt="" /></picture
                                        ></a>
                                      </div>
                                      <div class="mb-2 mb-lg-0 bottomTextLink">
                                        <a href="#"
                                          >IoT Cloud Platform on Microsoft
                                          Azure</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <li class="active deActiveColor">
                            <a href="#">Cloud Engineering Services</a>
                          </li>
                          <li><a href="#">Application Services</a></li>
                        </ul>
                      </li>
                      <li>
                        <a target="_blank" href="#" class="stong_protext"
                          >License Sales
                          <img class="ml-2 show-right-menu" src="#"
                        /></a>
                        <ul class="LicenseSales fourthLevelMenu license_div">
                          <li class="active deActiveColor">
                            <a target="_blank" href="#">Ametek</a>
                            <ul
                              class="fifthLevelMenu fiftheLevelHide pl-2 pl-lg-0"
                            >
                              <li>
                                <div class="row justify-content-xl-between">
                                  <div class="col-lg-5 col-xl-6">
                                    <div class="cardBlock pr-xl-2">
                                      <ul>
                                        <li>
                                          <a target="_blank" href="#">Megger</a>
                                        </li>
                                        <li>
                                          <a target="_blank" href="#"
                                            >National Instruments (NI)</a
                                          >
                                        </li>
                                        <li>
                                          <a target="_blank" href="#">PICO</a>
                                        </li>
                                        <li>
                                          <a target="_blank" href="#"
                                            >QA Systems</a
                                          >
                                        </li>
                                        <li>
                                          <a target="_blank" href="#"
                                            >esd electronics</a
                                          >
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="col-lg-5 col-xl-6">
                                    <div class="cardBlock pr-xl-2">
                                      <ul>
                                        <li>
                                          <a target="_blank" href="#"
                                            >Rohde & Schwarz</a
                                          >
                                        </li>
                                        <li>
                                          <a target="_blank" href="#">SEGGER</a>
                                        </li>
                                        <li>
                                          <a target="_blank" href="#"
                                            >TASKING</a
                                          >
                                        </li>
                                        <li>
                                          <a target="_blank" href="#">TRM</a>
                                        </li>
                                        <li>
                                          <a target="_blank" href="#">Weller</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <li><a target="_blank" href="#">Hioki</a></li>
                          <li><a target="_blank" href="#">iSYSTEM</a></li>
                          <li><a target="_blank" href="#">Kikusui</a></li>
                          <li><a target="_blank" href="#">Igos</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="navItem">
                <a
                  href="#"
                  data-toggle="collapse"
                  data-target=".IndustriesMenu"
                  aria-expanded="false"
                  >Business Units &#9660; <i class="fas fa-caret-down"></i
                ></a>
                <div
                  class="navSubmenu IndustriesMenu collapeseShow collapse"
                  data-parent=".mainMenuWrapper"
                >
                  <ul>
                    <li><a href="#">Cloud and Applications</a></li>
                    <li><a href="#">Cloud and Applications</a></li>
                    <li><a href="#">Cloud and Applications</a></li>
                    <li><a href="#">Cloud and Applications</a></li>
                    <li><a href="#">Cloud and Applications</a></li>
                  </ul>
                </div>
              </li>
              <li class="navItem">
                <a
                  href="#"
                  data-toggle="collapse"
                  data-target=".aboutvvdnMenu"
                  aria-expanded="false"
                  >About &#9660; <i class="fas fa-caret-down"></i
                ></a>
                <div
                  class="navSubmenu aboutvvdnMenu collapeseShow collapse"
                  data-parent=".mainMenuWrapper"
                >
                  <ul>
                    <li><a href="/About.html">About</a></li>
                    <li><a href="#">Company Overview</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Case Studies</a></li>
                  </ul>
                </div>
              </li>
              <li class="navItem">
                <a href="/ContactUs.html">Contact Us</a>
              </li>
              <li class="navItem">
                <a href="{% url 'forgot_password' %}">Forget</a>
              </li>
              <li class="navItem">
                <a href="{% url 'login' %}">Sign In</a>
              </li>
            </ul>

            <!-- /Nav -->
          </div>
        </div>
      </div>
      <div class="md:hidden flex bg-red-600">
        <a class="text-4xl text-white" href="#">&#8801;</a>
      </div>
    </div>
    <div class="min-h-[90vh] pt-40 flex items-start justify-center">
      <div
        class="bg-white p-8 rounded shadow-md w-full sm:w-96"
        style="
          background-image: url('/assets/background-abstract-line-digital-design-gradient-template_483537-2161.avif');
        "
      >
        <h2 class="text-2xl font-semibold text-center mb-6">Login</h2>
        <form>
          <div class="mb-4">
            <label for="email" class="block text-gray-700">Email Address</label>
            <input
              type="email"
              id="email"
              name="email"
              class="w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"
              placeholder="Enter your email"
            />
          </div>
          <div class="mb-4">
            <label for="password" class="block text-gray-700">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"
              placeholder="Enter your password"
            />
          </div>
          <div class="flex items-center justify-between mb-4">
            <button
              type="submit"
              class="bg-green-600 text-white px-16 py-3 rounded-full mt-2 hover:bg-blue-600 focus:outline-none"
            >
              Sign In
            </button>
            <a href="/Forget.html" class="text-blue-500 hover:underline"
              >Forgot Password?</a
            >
          </div>
        </form>
        <hr class="my-6 border-gray-300" />
        <p class="text-center text-gray-700">
          Don't have an account?
          <a href="{% url 'register' %}" class="text-blue-500 hover:underline"
            >Sign Up</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
